
/* noto-sans-kr-100 - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:100;
src:url('../fonts/noto-sans-kr-v12-latin_korean-100.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Thin'), local('NotoSansKR-Thin'),
        url('../fonts/noto-sans-kr-v12-latin_korean-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-100.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-100.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-100.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-100.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-300 - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:300;
src:url('../fonts/noto-sans-kr-v12-latin_korean-300.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Light'), local('NotoSansKR-Light'),
        url('../fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:400;
src:url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:500;
src:url('../fonts/noto-sans-kr-v12-latin_korean-500.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
        url('../fonts/noto-sans-kr-v12-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:700;
src:url('../fonts/noto-sans-kr-v12-latin_korean-700.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
        url('../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:900;
src:url('../fonts/noto-sans-kr-v12-latin_korean-900.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Black'), local('NotoSansKR-Black'),
        url('../fonts/noto-sans-kr-v12-latin_korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-900.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

html {font-size:15px;}
html, body, h1, h2, h3, h4, h5, h6, p, div, img {margin:0;padding:0;border:0;font-family:'Noto Sans KR', sans-serif;letter-spacing:-1px;font-weight:400;}
h1,h2{font-weight:bold;}
strong {font-weight:600;}
table,tr,td,thead,tbody,tfoot{border-spacing:0;border-collapse:collapse;}
ul, ol, li{list-style:none;padding:0;margin:0;}
a{text-decoration:none;color:#323232;}
a:hover{color:#c2c2c2;}
button:focus{outline:none;}
input,button,select {outline:none;font-family:'Noto Sans KR', sans-serif;font-weight:400;}

/* Header Area */
.header {position:fixed;top:0;left:0;right:0;bottom:0;height:80px;background-color:#FFF;z-index:10;min-width:1260px;overflow:auto;box-shadow:inset 0 -2px 0 0 #eee;}
.header-wrap {position:relative;max-width:1260px;margin:0 auto;}
.header-wrap:after {content:"";display:block;clear:both;}
.header .nav-ctr {display:none;}
.header .logo {position:absolute;top:10px;left:0;}
.header .logo a {display:block;}
.header .logo img {vertical-align:middle;}

.header .nav {float:right;margin:0;height:78px;}
.header .nav ul {margin:0;padding:0;}
.header .nav ul:after {content:"";display:block;clear:both;}
.header .nav > ul > li {float:left;padding:0 45px;}
.header .nav > ul > li > a {position:relative;color:#000;display:block;font-size:18px;font-weight:500;height:80px;line-height:80px;padding:0;box-sizing:border-box;}
.header .nav > ul > li > a.active {color:#2d2ba8;}
.header .nav > ul > li > a.active:after {content:"";position:absolute;bottom:0;left:0;right:0;display:block;width:100%;height:2px;background-color:#2d2ba8;}

/* Content Area */
.content {margin-top:80px;min-width:1260px;overflow:auto;}

/* Main Image Area */
.main-item {position:relative;width:1920px;height:736px;}
.main-media1 {position:absolute;top:110px;left:50%;margin-left:-11px;}
.main-image.owl-carousel .owl-nav {position:absolute;top:auto;bottom:210px;left:50%;margin-left:538px;width:100px;}
.main-image.owl-carousel .owl-nav button.owl-prev{margin:0;}
.main-image.owl-carousel .owl-nav button.owl-next,
.main-image.owl-carousel .owl-nav button.owl-prev {position:relative;top:auto;left:auto;width:50px;height:50px;margin:0;transform:none;background:rgba(255,255,255,0.5) url(../img/main_img_arrow_left.png) 0 0 no-repeat !important;}
.main-image.owl-carousel .owl-nav button.owl-next {border-left:1px solid #fff;background:rgba(255,255,255,0.5) url(../img/main_img_arrow_right.png) 0 0 no-repeat !important;box-sizing:border-box;}

/* Quick quotation */
.quick-quotation {width:100%;height:80px;position:relative;z-index:1;}
.quick-quotation .quick-quo-wrap {position:absolute;top:-194px;left:50%;margin-left:-622px;width:1260px;height:240px;background-color:#5450ff;padding:38px 100px;box-sizing:border-box;}
.quick-quotation .quick-quo-wrap h2 {color:#fff;}
.quick-quo-form table {table-layout:fixed;width:100%;}
.quick-quo-form td {}

/* Team Schedule */
.team-schedule {max-width:1260px;margin:0 auto;text-align:center;padding:30px 0 70px 0;}
.team-schedule > h2 {font-size:42px;margin:0;padding:0 0 20px 0;}
.team-schedule > h2 > span {font-weight:400;}
.team-schedule > h2 > strong {color:#2d2ba8;padding-left:10px;}
.team-schedule > p {font-weight:300;font-size:18px;}
.team-schedule > p > small {font-size:16px;padding-left:5px;}

.team-sch-wrap {position:relative;width:100%;margin-top:30px;}

.team-sch-wrap .schedule-list {position:absolute;top:0;left:0;width:150px;}

.team-sch-wrap .team-list {padding-left:150px;text-align:left;}
.team-list:after {content:"";display:block;clear:both;}
.team-list .team-box {float:left;width:370px;box-sizing:border-box;}
.team-list .team-box h3 {padding:10px 0;text-align:center;background-color:#eee;color:#333;font-size:40px;font-weight:600;}


/* Guerrilla Deals */
.guerrilla-deals {width:100%;height:700px;background:url(../img/bg_guerrilladeals.png) 0 0 repeat;}



/* All Car List */
.allcar-list {margin:0 auto;max-width:1260px;padding-top:60px;}
.allcar-list h2 {font-weight:300;font-size:40px;color:#333;padding-bottom:20px;}
.allcar-list h2 strong {font-weight:800;color:#2e2ba8;}

/* Tab */
.allcar-tab {position:relative;height:110px;}
.allcar-tab .brand-tt {position:absolute;top:0;width:50%;border:1px solid #e5e5e5;height:56px;line-height:54px;text-align:center;background-color:#fff;font-size:18px;color:#333;cursor:pointer;}
.allcar-tab .brand-tt.domestic {left:0;}
.allcar-tab .brand-tt.imported {right:0;}
.allcar-tab .brand-tt.active {background-color:#5450ff;border-color:#5450ff;color:#fff;}
.allcar-tab .brand-list {position:absolute;top:56px;left:0;right:0;display:none !important;padding:0 25px;box-sizing:border-box;}
.allcar-tab .brand-list .brand-item {height:56px;line-height:56px;cursor:pointer;}
.allcar-tab .brand-list .brand-item span {position:relative;display:inline-block;line-height:21px;font-size:18px;vertical-align:middle;width:100%;text-align:center;color:#767676;}
.allcar-tab .brand-list .brand-item span:after {content:"";position:absolute;top:5px;right:0;height:15px;width:1px;background-color:#ccc;}
.brand-list.owl-carousel .owl-item.on .brand-item span {color:#000;font-weight:600;}
.allcar-tab .brand-list .brand-item.select span {color:#232323;}
.allcar-tab .brand-tt.active + .brand-list {display:block !important;}
.brand-list.owl-carousel .owl-nav button.owl-next,
.brand-list.owl-carousel .owl-nav button.owl-prev {height:55px;width:26px;margin-left:604px;top:2px;transform:none;}
.brand-list.owl-carousel .owl-nav button.owl-prev {margin-left:-630px;width:26px;}

/* Car List */
.car-list {padding:20px 0 50px 0;}
.car-list ul:after {content:"";display:block;clear:both;}
.car-list li {float:left;width:25%;padding:10px;box-sizing:border-box;}
.car-list .car-item {border:1px solid #ddd;position:relative;}
.car-list .car-item .car-info {position:relative;height:280px;line-height:260px;}
.car-list .car-item .car-info .badge-list {position:absolute;top:-1px;left:-1px;}
.car-list .car-item .car-info .badge-list .badge {float:left;width:50px;height:50px;line-height:50px;border-radius:0 0 25px 25px;text-align:center;background-color:#ff7e00;margin-right:3px;}
.car-list .car-item .car-info .badge-list .badge.type1 {background-color:#ff7e00;}
.car-list .car-item .car-info .badge-list .badge.type2 {background-color:#d83792;}
.car-list .car-item .car-info .badge-list .badge.type3 {background-color:#3746d8;}
.car-list .car-item .car-info .badge-list .badge.type4 {background-color:#00ae6f;}
.car-list .car-item .car-info .badge-list .badge span {display:inline-block;line-height:15px;font-size:12px;color:#fff;text-align:center;letter-spacing:0;padding-top:8px;}
.car-list .car-item .car-info .car-image img {width:100%;vertical-align:middle;}
.car-list .car-item .car-info .car-name {position:absolute;bottom:20px;left:20px;right:20px;text-align:center;line-height:25px;font-size:24px;font-weight:600;}
.car-list .car-item .price-info {background-color:#eeeeee;}
.car-list .car-item .price-info:after {content:"";display:block;clear:both;}
.car-list .car-item .price-info .price30,
.car-list .car-item .price-info .price0 {width:50%;float:left;text-align:center;font-size:16px;line-height:22px;box-sizing:border-box;color:#555;padding:10px 0;}
.car-list .car-item .price-info .price0 {border-left:1px solid #fff;}
.car-list .car-item .price-info .price30 span,
.car-list .car-item .price-info .price0 span {display:block;letter-spacing:-0.2px;}
.car-list .car-item .btn-area {opacity:0;position:absolute;top:-1px;left:-1px;right:-1px;bottom:-1px;background-color:rgba(0,0,0,0.5);text-align:center;line-height:346px;}
.car-list .car-item:hover .btn-area {opacity:1;transition:all 0.2s;}
.car-list .car-item .btn-area button {vertical-align:middle;background-color:#50ffe8;color:#000;border:0 none;padding:0;font-size:18px;font-weight:600;opacity:0;cursor:pointer;line-height:25px;}
.car-list .car-item:hover .btn-area button {opacity:1;transition:all 0.3s;transition-delay:0.2s;padding:10px 35px 10px 50px;line-height:25px;}
.car-list .car-item:hover .btn-area button span {display:inline-block;vertical-align:middle;padding-right:10px;}
.car-list .car-item:hover .btn-area button img {vertical-align:middle;}
.car-list .more-btn-area {padding:20px 0;text-align:center;}
.car-list .more-btn-area button {padding:8px 120px;font-size:20px;font-weight:600;color:#777;border:1px solid #777;background-color:#fff;cursor:pointer;}
.car-list .more-btn-area button:hover {background-color:#f2f2f2;}

/* Counter */
.count-area {background:url(../img/counter_bg.png);background-size:cover;height:180px;line-height:180px;}
.count-area ul {max-width:1260px;margin:0 auto;}
.count-area ul:after {content:"";display:block;clear:both;}
.count-area li {position:relative;float:left;width:33.333333%;padding-left:30px;box-sizing:border-box;}
.count-area li img {vertical-align:middle;}
.count-area li span {display:inline-block;font-size:24px;font-weight:300;line-height:35px;vertical-align:middle;color:#fff;padding-left:10px;}
.count-area li strong {display:inline-block;font-size:24px;font-weight:600;line-height:35px;vertical-align:middle;padding-left:7px;color:#fff;}
.count-area li .count-num {font-size:34px;line-height:35px;font-weight:600;letter-spacing:-2px;color:#ffbf50;vertical-align:middle;font-style:normal;padding-left:15px;}
.count-area li:nth-child(3) .count-num:after {content:"ëª…";padding-left:3px;}

/* Youtube */
.youtube-area {background-color:#eee;padding:50px 0;}
.youtube-wrap {max-width:1260px;margin:0 auto;text-align:center;}
.youtube-tt-area {padding-bottom:30px;}
.youtube-tt-area .tt-image {display:inline-block;vertical-align:middle;padding-right:45px;}
.youtube-tt-area .tt-text {display:inline-block;vertical-align:middle;text-align:left;}
.youtube-tt-area .tt-text p {font-size:18px;line-height:26px;font-weight:300;color:#333;}
.youtube-tt-area .tt-text a {display:inline-block;margin-top:20px;background-color:#f00000;height:50px;line-height:50px;padding:0 85px;font-weight:500;color:#fff;}

.youtube-ctn:after {content:"";display:block;clear:both;}
.youtube-ctn .left-ctn {float:left;width:640px;text-align:left;}
.youtube-ctn .left-ctn .ctn-tt {font-size:18px;font-weight:500;color:#333;padding:15px 10px 10px 10px;}
.youtube-ctn .left-ctn .ctn-text {font-size:16px;font-weight:400;color:#777;padding:0 10px 10px 10px;}
.youtube-ctn .right-ctn {float:right;width:600px;text-align:left;background-color:#fff;padding:30px 20px;box-sizing:border-box;}
.youtube-ctn .youtube-list li {padding:10px 0;}
.youtube-ctn .youtube-list li:after {content:"";display:block;clear:both;}
.youtube-ctn .youtube-list li:first-child {padding-top:0;}
.youtube-ctn .youtube-list li .list-img {float:left;box-sizing:border-box;width:190px;}
.youtube-ctn .youtube-list li .list-right {float:left;width:calc(100% - 190px);box-sizing:border-box;}
.youtube-ctn .youtube-list li .list-right .list-tt {font-size:16px;font-weight:500;color:#333;padding:3px 0 5px 0;}
.youtube-ctn .youtube-list li .list-right .list-text {font-size:14px;font-weight:400;color:#777;line-height:18px;max-height:52px;overflow:hidden;}
.youtube-ctn .youtube-list li:hover {cursor:pointer;}
.youtube-ctn .youtube-list li:hover .list-right .list-tt {color:#2d2ba8;}
.youtube-ctn .youtube-list li:hover .list-right .list-text {color:#2d2ba8;}

.contract-area {max-width:1260px;margin:0 auto;padding:50px 0;text-align:center;}
.contract-area > h2 {font-size:42px;margin:0;padding:0 0 20px 0;}
.contract-area > h2 > span {font-weight:400;}
.contract-area > h2 > strong {color:#2d2ba8;padding-left:10px;}
.contract-area > p {font-weight:300;font-size:18px;}
.contract-area > p > small {font-size:16px;padding-left:5px;}

.contract-list {overflow:auto;width:1260px;margin-top:30px;}
.contract-list ul {display:table-row;white-space:nowrap;}
.contract-list li {display:table-cell;overflow:hidden;text-align:left;padding-right:30px;}
.contract-list li .contract-item {width:228px;height:280px;}
.contract-item .item-img {font-size:0;}
.contract-item .item-tt {font-size:16px;color:#333;font-weight:500;padding:10px 0;}
.contract-item .item-text {font-size:12px;line-height:15px;max-height:60px;overflow:hidden;white-space:pre-wrap;word-break:break-all;color:#555;}
.contract-item .item-date {font-size:12px;color:#555;padding:5px 0;}

.aside-banner {position:fixed;top:130px;right:63px;background-color:#7364d1;z-index:90;}
.aside-banner.fixed {position:fixed;top:130px;box-shadow:0 0 15px rgba(0,0,0,0.2)}
.aside-banner .btn-gotop {position:absolute;bottom:-21px;left:50%;margin-left:-21px;width:42px;height:42px;background:url(../img/icon_top.png) 0 0 no-repeat;}
.aside-banner .btn-gotop:hover {background-image:url(../img/icon_top_hover.png);}


.footer {padding:50px 0 160px 0;background-color:#2b2b2b;color:#fff;font-size:14px;text-align:center;line-height:20px;}
.footer .company-name {padding-bottom:20px;font-size:18px;letter-spacing:-1px;}